:root {
    --darkblue:#2A7AE4;
    --mediumblue: #5595E9;
    --softblue: #D4E4FA;
    --offwhite: #E5E5E5;
    --softgray: #F5F5F5;
    --blue: #EAF2FD;
    --mediumgray: #A2A2A2;
    --darkgray: #464646;
    --white:#FFF;
}

html, body {
    overflow-x: hidden;
}

body {
    min-width: 360px;
    max-width: 410px;
}

.header {
    width: 360px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    gap: 0px;
    width: 340px;
    height: 72px;
    background-color: var(--white);
}

.menu__logo {
    width: 100px;
    height: 28px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu__search-input {
   display: none;
}

.menu__search-input--mobile {
    width: 159px;
    height: 16px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background-color: var(--softgray);
    color: var(--mediumgray);
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    caret-color: var(--mediumblue);
}

.menu__search {
    flex: none;
    order: 1;
    flex-grow: 0;
}

::-webkit-input-placeholder {
    color: var(--mediumgray);
  }
  
  :-moz-placeholder { /* Firefox 18- */
    color: var(--mediumgray);  
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
    color: var(--mediumgray);  
  }
  
  :-ms-input-placeholder {  
    color: var(--mediumgray);  
}

.menu__search-input:focus-within::placeholder {
    color: var(--darkblue);
}

.login {
    background-color: var(--softgray);
    min-width: 360px;
    max-width: 410px;
    height: 300px;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 32px;
    gap: 16px;
    width: 328px;
    height: 229px;
}

.login__form-titulo {
    width: 105px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    white-space: nowrap;
    text-align: center;
    color: var(--darkgray);
}

.login__fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 16px;
    width: 328px;
    height: 254px;
}

.login__input__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 275px;
    height: 41px;
    background-color: var(--white);
    border-radius: 4px;
}

.login__elementos {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 275px;
    height: 41px;
    padding: 6px 12px;
}


.login__input {
    width: 150px;
    height: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border: none;
    caret-color: var(--darkblue);
    color: var(--mediumgray);
}

.login__input:focus {
    width: 258px;
    outline: none;
}

.login__form-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    width: 109px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    background-color: var(--darkblue);
    color: var(--white);
    margin: 10px;
}
