:root {
    --darkblue:#2A7AE4;
    --mediumblue: #5595E9;
    --softblue: #D4E4FA;
    --offwhite: #E5E5E5;
    --softgray: #F5F5F5;
    --blue: #EAF2FD;
    --mediumgray: #A2A2A2;
    --darkgray: #464646;
    --white:#FFF;
}

html, body {
    overflow-x: hidden;
}

body {
    min-width: 360px;
    max-width: 410px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
    margin: 0;
    gap: 30px;
    width: 360px;
    height: 72px;
    background-color: var(--white);
}

.menu__logo {
    width: 100px;
    height: 28px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu__search-input {
   display: none;
}

.menu__search-input--mobile {
    width: 159px;
    height: 16px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background-color: var(--softgray);
    color: var(--mediumgray);
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    caret-color: var(--mediumblue);
}

.menu__button {
    box-sizing: border-box;
    padding: 12px 16px;
    gap: 10px;
    width: 119px;
    height: 40px;
    border: 1px solid var(--darkblue);
    background-color: var(--white);
    flex: none;
    order: 1;
    flex-grow: 0;
    transition: all 200ms ease-in-out;
}

.menu__button > a {
    color: var(--darkblue);
    text-decoration: none;
}

.menu__button:hover {
    border: 1px solid var(--darkblue);
    color: var(--white);
    background-color: var(--darkblue);  
}

.menu__search {
    flex: none;
    order: 2;
    flex-grow: 0;
}

::-webkit-input-placeholder {
    color: var(--mediumgray);
  }
  
  :-moz-placeholder { /* Firefox 18- */
    color: var(--mediumgray);  
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
    color: var(--mediumgray);  
  }
  
  :-ms-input-placeholder {  
    color: var(--mediumgray);  
}

.menu__search-input:focus-within::placeholder {
    color: var(--darkblue);
}

.promocional {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    min-width: 360px;
    max-width: 410px;
    height: 192px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url('../img/banner-home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 
.promocional__texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 328px;
    height: 98px;
    margin: 20px;
}

.promocional__h1 {
    width: 328px;
    height: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--white);
}

.promocional__h3 {
    width: 328px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--white);
}

.promocional__button {
    padding: 12px 16px;
    width: 119px;
    height: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    background-color: var(--darkblue);
    color: var(--white);
    border: none;
}

.promocional__button:hover {
    background-color: var(--white);
    color: var(--mediumblue);
    border: 1px solid var(--mediumblue);
}

.produtos__star-wars {
    display: grid;
    grid-template-areas: 
    "produtos__titulo produtos__p-container"
    "produtos__caneca produtos__darth-vader"
    "produtos__descricao1 produtos__descricao2"
    "produtos__yoda produtos__stormstroper"
    "produtos__descricao3 produtos__descricao4"
    ;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: 40px 190px 86px 190px 86px;
    padding: 16px 5px;
    margin: 0 auto;
    column-gap: 0;
    row-gap: 10px;
    min-width: 360px;
    max-width: 410px;
    place-content: center;
    height: 650px;
}

.produtos__img {
    width: 140px;
    height: 174px;
}

.produtos__img--desktop,
.produtos__descricao--desktop {
    display: none;
}

.produtos__descricao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 156px;
    height: 249px;
}

.produtos__descricao-h3 {
    width: 156px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--darkgray);
}

.produtos__descricao-h4 {
    width: 156px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--darkgray);
}

.produtos__descricao-p {
    width: 80px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--darkblue);
}

.produtos__descricao-p > a {
    text-decoration: none;
}

.produtos__titulo {
    grid-area: produtos__titulo;
    width: 102px;
    height: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--darkgray);
}

.produtos__p-container {
    grid-area: produtos__p-container;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    width: 90px;
    height: 16px;
    margin: 7px auto;
    margin-left: 60px;
}

.produtos__p {
    width: 60px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--darkblue);
}

.produtos__link {
    text-decoration: none;
}

.produtos__caneca {
    grid-area: produtos__caneca;
}

.produtos__darth-vader {
    grid-area: produtos__darth-vader;
}

.produtos__yoda {
    grid-area: produtos__yoda;
}

.produtos__stormstroper {
    grid-area: produtos__stormstroper;
}

.produtos__descricao1 {
    grid-area: produtos__descricao1;
}

.produtos__descricao2 {
    grid-area: produtos__descricao2;
}

.produtos__descricao3 {
    grid-area: produtos__descricao3;
}

.produtos__descricao4 {
    grid-area: produtos__descricao4;
}

.produtos__consoles {
    display: grid;
    grid-template-areas: 
    "produtos__titulo produtos__p-container"
    "produtos__joystick produtos__playstation"
    "produtos__descricao1 produtos__descricao2"
    "produtos__nintendo produtos__nintendo-switch"
    "produtos__descricao3 produtos__descricao4"
    ;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: 40px 190px 86px 190px 86px;
    padding: 16px 5px;
    margin: 0 auto;
    column-gap: 0;
    row-gap: 10px;
    min-width: 360px;
    max-width: 410px;
    place-content: center;
    height: 650px;
}

.produtos__joystick  {
    grid-area: produtos__joystick;
}

.produtos__playstation {
    grid-area: produtos__playstation;
}

.produtos__nintendo {
    grid-area: produtos__nintendo;
}

.produtos__nintendo-switch {
    grid-area: produtos__nintendo-switch;
}

.produtos__descricao1 {
    grid-area: produtos__descricao1;
}

.produtos__descricao2 {
    grid-area: produtos__descricao2;
}

.produtos__descricao3 {
    grid-area: produtos__descricao3;
}

.produtos__descricao4 {
    grid-area: produtos__descricao4;
}

.produtos__diversos {
    display: grid;
    grid-template-areas: 
    "produtos__titulo produtos__p-container"
    "produtos__atari produtos__snes"
    "produtos__descricao1 produtos__descricao2"
    "produtos__sonic produtos__radio-relogio"
    "produtos__descricao3 produtos__descricao4"
    ;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: 40px 190px 86px 190px 86px;
    padding: 16px 5px;
    margin: 0 auto;
    column-gap: 0;
    row-gap: 10px;
    min-width: 360px;
    max-width: 410px;
    place-content: center;
    height: 650px;
}

.produtos__atari  {
    grid-area: produtos__atari;
}

.produtos__snes {
    grid-area: produtos__snes;
}

.produtos__sonic {
    grid-area: produtos__sonic;
}

.produtos__radio-relogio {
    grid-area: produtos__radio-relogio;
}

.produtos__descricao1 {
    grid-area: produtos__descricao1;
}

.produtos__descricao2 {
    grid-area: produtos__descricao2;
}

.produtos__descricao3 {
    grid-area: produtos__descricao3;
}

.produtos__descricao4 {
    grid-area: produtos__descricao4;
}

.contato__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    min-width: 360px;
    max-width: 410px;
    height: 600px;
    background-color: var(--blue);
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 328px;
    height: 650px;
}

.suporte {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 328px;
    height: 260px;
}

.suporte__logo {
    width: 176px;
    height: 50px;
}

.suporte__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 328px;
    height: 194px;
}

.suporte__item {
    width: 328px;
    height: 19px;
    color: var(--darkgray);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.suporte__item:hover {
    color: var(--mediumblue);
    font-weight: bold;
}

.contato__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 328px;
    height: 229px;
}

.contato__form-titulo {
    width: 328px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--darkgray);
}

.contato__fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 328px;
    height: 254px;
  }

  .contato__input__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 328px;
    height: 56px;
    background-color: var(--white);
    border-radius: 4px;
  }

  .contato__elementos {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 304px;
    height: 40px;
    padding: 6px 12px;
  }

  .contato__textos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 324px;
    height: 40px;
  }

  .contato__label {
    width: 304px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--mediumgray);
  }

  .contato__input,
  .contato__input--textarea {
    width: 98px;
    height: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border: none;
    caret-color: var(--darkblue);
  }

  .contato__input--textarea  {
    width: 328px;
    height: 82px;
  }

  .contato__input:focus,
  .contato__input--textarea:focus {
    width: 324px;
    outline: none;
  }

  .contato__input__container--textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 328px;
    height: 82px;
    background-color: var(--white);
    border-radius: 4px;
  }

  .contato__elementos--textarea {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
  }

  .contato__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    width: 170px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    border: none;
    border-radius: 4px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    background-color: var(--darkblue);
    color: var(--white);
    margin: 10px;
  }


.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 360px;
    max-width: 410px;
    height: 102px;
    background-color: var(--white);
}

.footer__p {
    width: 234px;
    height: 38px;
    margin: 0 auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--darkgray);
}

.footer__link {
    text-decoration: none;
}

.footer__link > span {
    font-weight: bold;
    color: var(--darkblue);
}

.footer__link > span:hover {
    font-weight: bold;
    color: var(--mediumgray);
}

@media (min-width: 768px) and (max-width: 993px) {

html, body {
    overflow-x: hidden;
}

body {
    min-width: 768px;
    max-width: 993px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
    margin: 0 auto;
    gap: 20px;
    width: 768px;
    height: 72px;
}

.menu__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    gap: 0;
    width: 272px;
    height: 40px;
    background-color: var(--softgray);
    border-radius: 20px;
    order: 1;
}

.menu__search-input {
    width: 159px;
    height: 16px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    background-color: var(--softgray);
    color: var(--mediumgray);
    border: none;
}

.menu__search-input:focus {
    outline: none;
    caret-color: var(--mediumblue);
}

.menu__button {
    order: 2;
    margin-left: 50px;
    width: 166px;
    height: 40px;
}

.menu__search-icon {
    order: 1;
}

.promocional {
    min-width: 768px;
    max-width: 993px;
    padding: 32px;
    gap: 16px;
    height: 352px;
}

.promocional__texto {
    gap: 16px;
    width: 704px;
    height: 159px;
}

.promocional__h1 {
    width: 704px;
    height: 61px;
    font-size: 52px;
    line-height: 61px;
}

.promocional__h3 { 
    width: 704px;
    height: 26px;
    font-size: 22px;
    line-height: 26px;
}

.promocional__button {
    padding: 12px 16px;
    gap: 10px;
    width: 119px;
    height: 40px;
}

.produtos__star-wars {
    display: grid;
    grid-template-areas: 
    "produtos__titulo produtos__titulo produtos__p-container produtos__p-container"
    "produtos__caneca produtos__darth-vader produtos__yoda produtos__stormstroper"
    "produtos__descricao1 produtos__descricao2 produtos__descricao3 produtos__descricao4"
    ;
    grid-template-columns: repeat(4, 160px);
    grid-template-rows: 40px 180px 86px;
    padding: 16px 10px;
    margin: 0 auto;
    padding: 10px;
    column-gap: 0;
    row-gap: 10px;
    min-width: 768px;
    max-width: 993px;
    height: 358px;
    place-content: center;
}

.produtos__img--desktop,
.produtos__descricao--desktop {
    display: none;
}

.produtos__titulo {
    font-size: 22px;
    line-height: 26px;
    width: 102px;
    height: 26px;
    padding-left: 4px;
}

.produtos__p-container {
    gap: 4px;
    width: 98px;
    height: 24px;
    margin-left: 65%;
}

.produtos__p {
    width: 66px;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
}

.produtos__img {
    width: 150px;
    height: 174px;
}

.produtos__descricao-h3, 
.produtos__descricao-h4 {
    width: 164px;
}

.produtos__descricao-p {
    width: 91px;
}

.produtos__consoles {
    display: grid;
    grid-template-areas: 
    "produtos__titulo produtos__titulo produtos__p-container produtos__p-container"
    "produtos__joystick produtos__playstation produtos__nintendo produtos__nintendo-switch"
    "produtos__descricao1 produtos__descricao2 produtos__descricao3 produtos__descricao4"
    ;
    grid-template-columns: repeat(4, 160px);
    grid-template-rows: 40px 180px 86px;
    padding: 16px 10px;
    margin: 0 auto;
    padding: 10px;
    column-gap: 0;
    row-gap: 10px;
    min-width: 768px;
    max-width: 993px;
    height: 358px;
    place-content: center;
}

.produtos__diversos {
    display: grid;
    grid-template-areas: 
    "produtos__titulo produtos__titulo produtos__p-container produtos__p-container"
    "produtos__atari produtos__snes produtos__sonic produtos__radio-relogio"
    "produtos__descricao1 produtos__descricao2 produtos__descricao3 produtos__descricao4"
    ;
    grid-template-columns: repeat(4, 160px);
    grid-template-rows: 40px 180px 86px;
    padding: 16px 10px;
    margin: 0 auto;
    padding: 10px;
    column-gap: 0;
    row-gap: 10px;
    min-width: 768px;
    max-width: 993px;
    height: 358px;
    place-content: center;
}

.footer { 
    min-width: 768px;
    max-width: 993px;
    height: 102px;
}

.footer__p {
    width: 234px;
    height: 38px;
    font-size: 16px;
    line-height: 19px;
}
  
}

@media (min-width: 993px) {

html, body {
    overflow-x: visible;
}

header {
    width: 1440px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
    margin: 0 auto;
    gap: 30px;
    width: 1136px;
    height: 115px;
}

.menu__logo {   
    width: 176px;
    height: 50px;
    order: 0;
    justify-self: flex-start;
}

.menu__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    gap: 0;
    width: 393px;
    height: 40px;
    background-color: var(--softgray);
    border-radius: 20px;
    order: 1;
}

.menu__search-input {
    width: 209px;
    height: 16px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    background-color: var(--softgray);
    color: var(--mediumgray);
    border: none;
}

.menu__search-input:focus {
    outline: none;
    caret-color: var(--mediumblue);
} 

.menu__button {
    order: 2;
    width: 182px;
    height: 51px;
    margin-left: 20%;
}

.promocional {
    padding: 32px;
    gap: 32px;
    min-width: 1440px;
    height: 352px;
}

.promocional__texto {
    width: 1136px;
    height: 170px;
}

.promocional__h1 {
    width: 751px;
    height: 61px;
    font-size: 52px;
    line-height: 61px;
}

.promocional__h3 {
    width: 751px;
    height: 26px;
    font-size: 22px;
    line-height: 26px;
}

.promocional__button {
    padding: 16px;
    gap: 20px;
    width: 130px;
    height: 51px;
}

#produtos__star-wars {
    min-width: 1440px;
}

.produtos__img--desktop {
    display: block;
}

.produtos__descricao--desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.produtos__star-wars {
    display: grid;
    grid-template-areas: 
    "produtos__titulo produtos__titulo produtos__titulo produtos__p-container produtos__p-container produtos__p-container"
    "produtos__caneca produtos__darth-vader produtos__yoda produtos__stormstroper produtos__baby-yoda produtos__lord-sith"
    "produtos__descricao1 produtos__descricao2 produtos__descricao3 produtos__descricao4 produtos__descricao5 produtos__descricao6"
    ;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: 150px 230px 120px;
    padding: 32px 10px;
    padding: 0px;
    gap: 16px;
    margin: 0 auto;
    width: 1136px;
    height: 450px;
    place-items: center;
}

.produtos__titulo {
    grid-area: produtos__titulo;
    width: 148px;
    height: 38px;
    font-size: 32px;
    line-height: 38px;
    justify-self: left;
    align-self: end;
    margin-left: 10px;
}

.produtos__p-container {
    grid-area: produtos__p-container;
    padding: 0px;
    gap: 0;
    width: 98px;
    height: 24px;
    margin-left: 500px;
    justify-self: right;
    align-self: end;
}

.produtos__p {
    width: 66px;
    height: 19px;
}

.produtos__img,
.produtos__img--desktop {
    width: 176px;
   height: 174px;
}

.produtos__descricao,
.produtos__descricao--desktop {
    padding: 0px;
    gap: 8px;
    width: 176px;
    height: 174px;
}

.produtos__caneca {
    grid-area: produtos__caneca;
}

.produtos__darth-vader {
    grid-area: produtos__darth-vader;
}

.produtos__yoda {
    grid-area: produtos__yoda;
}

.produtos__stormstroper {
    grid-area: produtos__stormstroper;
}

.produtos__baby-yoda {
    grid-area: produtos__baby-yoda;
}

.produtos__lord-sith {
    grid-area: produtos__lord-sith;
}

.produtos__descricao1 {
    grid-area: produtos__descricao1;
}

.produtos__descricao2 {
    grid-area: produtos__descricao2;
}

.produtos__descricao3 {
    grid-area: produtos__descricao3;
}

.produtos__descricao4 {
    grid-area: produtos__descricao4;
}

.produtos__descricao5 {
    grid-area: produtos__descricao5;
}

.produtos__descricao6 {
    grid-area: produtos__descricao6;
}

#produtos__consoles {
    min-width: 1440px;
}

.produtos__consoles {
    display: grid;
    grid-template-areas: 
    "produtos__titulo produtos__titulo produtos__titulo produtos__p-container produtos__p-container produtos__p-container"
    "produtos__joystick produtos__playstation produtos__nintendo produtos__nintendo-switch produtos__xbox-x produtos__game-boy"
    "produtos__descricao1 produtos__descricao2 produtos__descricao3 produtos__descricao4 produtos__descricao5 produtos__descricao6"
    ;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: 150px 230px 120px;
    padding: 32px 10px;
    padding: 0px;
    gap: 16px;
    margin: 0 auto;
    width: 1136px;
    height: 450px;
    place-items: center;
}

.produtos__joystick {
    grid-area: produtos__joystick;
}

.produtos__playstation {
    grid-area: produtos__playstation;
}

.produtos__nintendo {
    grid-area: produtos__nintendo;
}

.produtos__nintendo-switch {
    grid-area: produtos__nintendo-switch;
}

.produtos__xbox-x {
    grid-area: produtos__xbox-x;
}

.produtos__game-boy {
    grid-area: produtos__game-boy;
}

.produtos__descricao1 {
    grid-area: produtos__descricao1;
}

.produtos__descricao2 {
    grid-area: produtos__descricao2;
}

.produtos__descricao3 {
    grid-area: produtos__descricao3;
}

.produtos__descricao4 {
    grid-area: produtos__descricao4;
}

.produtos__descricao5 {
    grid-area: produtos__descricao5;
}

.produtos__descricao6 {
    grid-area: produtos__descricao6;
}

#produtos__diversos {
    min-width: 1440px;
}

.produtos__diversos {
    display: grid;
    grid-template-areas: 
    "produtos__titulo produtos__titulo produtos__titulo produtos__p-container produtos__p-container produtos__p-container"
    "produtos__atari produtos__snes produtos__sonic produtos__radio-relogio produtos__oculos produtos__pikachu"
    "produtos__descricao1 produtos__descricao2 produtos__descricao3 produtos__descricao4 produtos__descricao5 produtos__descricao6"
    ;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: 150px 230px 120px;
    padding: 32px 10px;
    padding: 0px;
    gap: 16px;
    margin: 0 auto;
    width: 1136px;
    height: 450px;
    place-items: center;
}

.produtos__atari {
    grid-area: produtos__atari;
}

.produtos__snes {
    grid-area: produtos__snes;
}

.produtos__sonic {
    grid-area: produtos__sonic;
}

.produtos__radio-relogio {
    grid-area: produtos__radio-relogio;
}

.produtos__oculos {
    grid-area: produtos__oculos;
}

.produtos__pikachu {
    grid-area: produtos__pikachu;
}

.produtos__descricao1 {
    grid-area: produtos__descricao1;
}

.produtos__descricao2 {
    grid-area: produtos__descricao2;
}

.produtos__descricao3 {
    grid-area: produtos__descricao3;
}

.produtos__descricao4 {
    grid-area: produtos__descricao4;
}

.produtos__descricao5 {
    grid-area: produtos__descricao5;
}

.produtos__descricao6 {
    grid-area: produtos__descricao6;
}

.footer {
    min-width: 1440px;
    height: 102px;
}

.footer__p {
   width: 234px;
   height: 38px;
}

}