:root {
    --darkblue:#2A7AE4;
    --mediumblue: #5595E9;
    --softblue: #D4E4FA;
    --offwhite: #E5E5E5;
    --softgray: #F5F5F5;
    --blue: #EAF2FD;
    --mediumgray: #A2A2A2;
    --darkgray: #464646;
    --white:#FFF;
}

html, body {
    overflow-x: hidden;
}

body {
    min-width: 360px;
    max-width: 410px;
}

.header {
    width: 360px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    gap: 0px;
    width: 340px;
    height: 72px;
    background-color: var(--white);
}

.menu__logo {
    width: 100px;
    height: 28px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu__search-input {
   display: none;
}

.menu__search-input--mobile {
    width: 159px;
    height: 16px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background-color: var(--softgray);
    color: var(--mediumgray);
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    caret-color: var(--mediumblue);
}

.menu__search {
    flex: none;
    order: 1;
    flex-grow: 0;
}

::-webkit-input-placeholder {
    color: var(--mediumgray);
  }
  
  :-moz-placeholder { /* Firefox 18- */
    color: var(--mediumgray);  
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
    color: var(--mediumgray);  
  }
  
  :-ms-input-placeholder {  
    color: var(--mediumgray);  
}

.menu__search-input:focus-within::placeholder {
    color: var(--darkblue);
}

#todos__produtos {
    min-width: 360px;
    max-width: 410px;
    background-color: var(--softgray);
}

.todos__produtos {
    display: grid;
    grid-template-areas: 
    "produtos__titulo produtos__titulo"
    "produtos__button produtos__button"
    "produtos__caneca produtos__darth-vader"
    "produtos__descricao1 produtos__descricao2"
    "produtos__yoda produtos__stormtroper"
    "produtos__descricao3 produtos__descricao4"
    "produtos__baby-yoda produtos__lord-sith"
    "produtos__descricao5 produtos__descricao6"
    "produtos__joystick produtos__playstation"
    "produtos__descricao7 produtos__descricao8"
    "produtos__nintendo produtos__nintendo-switch"
    "produtos__descricao9 produtos__descricao10"
    "produtos__xbox-x produtos__game-boy"
    "produtos__descricao11 produtos__descricao12"
    "produtos__atari produtos__snes"
    "produtos__descricao13 produtos__descricao14"
    "produtos__sonic produtos__radio-relogio"
    "produtos__descricao15 produtos__descricao16"
    "produtos__oculos produtos__pikachu"
    "produtos__descricao17 produtos__descricao18"
    ;
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: 40px 70px repeat(9, 190px 100px);
    margin: 0 auto;
    column-gap: 0;
    row-gap: 10px;
    min-width: 360px;
    max-width: 410px;
    place-content: center;
    height: 3000px;
}

.produtos__icone-editar1--mobile {
    position: absolute;
    left: 25%;
    margin: 10px 0px;
    transition: all 300ms ease-in-out;
}

.produtos__icone-excluir1--mobile {
    position: absolute;
    left: 40%;
    margin: 10px 0px;
    transition: all 300ms ease-in-out;
}

.produtos__icone-editar2--mobile {
    position: absolute;
    left: 65%;
    margin: 10px 0px;
    transition: all 300ms ease-in-out;
}

.produtos__icone-excluir2--mobile {
    position: absolute;
    left: 80%;
    margin: 10px 0px;
    transition: all 300ms ease-in-out;
}

.produtos__icone-editar1:hover,
.produtos__icone-editar2:hover,
.produtos__icone-excluir1:hover,
.produtos__icone-excluir2:hover,
.produtos__icone-editar3:hover,
.produtos__icone-editar4:hover,
.produtos__icone-excluir3:hover,
.produtos__icone-excluir4:hover,
.produtos__icone-editar5:hover,
.produtos__icone-editar6:hover,
.produtos__icone-excluir5:hover,
.produtos__icone-excluir6:hover,
.produtos__icone-editar1--mobile:hover,
.produtos__icone-editar2--mobile:hover,
.produtos__icone-excluir1--mobile:hover,
.produtos__icone-excluir2--mobile:hover,
.produtos__icone-editar1--tablet:hover,
.produtos__icone-editar2--tablet:hover,
.produtos__icone-excluir1--tablet:hover,
.produtos__icone-excluir2--tablet:hover, 
.produtos__icone-editar3--tablet:hover,
.produtos__icone-editar4--tablet:hover,
.produtos__icone-excluir3--tablet:hover,
.produtos__icone-excluir4--tablet:hover,
.produtos__icone-editar5--tablet:hover,
.produtos__icone-excluir5--tablet:hover {
    transform: scale(1.1);
}

.produtos__id {
    width: 140px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--darkgray);
    margin-top: 10px;
}

.produtos__button {
    grid-area: produtos__button;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    width: 151px;
    height: 40px;
    border: none;
    background-color: var(--darkblue);
}

.produtos__button:hover {
    background-color: var(--darkgray);
    color: var(--white);
}

.produtos__button > a {
    text-decoration: none;
    color: var(--white);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.produtos__img {
    width: 150px;
    height: 174px;
    position: relative;
}

.produtos__descricao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 156px;
    height: 249px;
}

.produtos__descricao-h3 {
    width: 156px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--darkgray);
}

.produtos__descricao-h4 {
    width: 156px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--darkgray);
}

.produtos__titulo {
    grid-area: produtos__titulo;
    width: 102px;
    height: 26px;
    white-space: nowrap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--darkgray);
}

.produtos__p-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    width: 90px;
    height: 16px;
    margin: 7px auto;
    margin-left: 60px;
}

.produtos__p {
    width: 60px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--darkblue);
}

.produtos__link {
    text-decoration: none;
}

.produtos__caneca {
    grid-area: produtos__caneca;
}

.produtos__darth-vader {
    grid-area: produtos__darth-vader;
}

.produtos__yoda {
    grid-area: produtos__yoda;
}

.produtos__stormtroper {
    grid-area: produtos__stormtroper;
}

.produtos__joystick  {
    grid-area: produtos__joystick;
}

.produtos__playstation {
    grid-area: produtos__playstation;
}

.produtos__nintendo {
    grid-area: produtos__nintendo;
}

.produtos__nintendo-switch {
    grid-area: produtos__nintendo-switch;
}

.produtos__xbox-x {
    grid-area: produtos__xbox-x;
}

.produtos__game-boy {
    grid-area: produtos__game-boy;
}

.produtos__atari  {
    grid-area: produtos__atari;
}

.produtos__snes {
    grid-area: produtos__snes;
}

.produtos__sonic {
    grid-area: produtos__sonic;
}

.produtos__radio-relogio {
    grid-area: produtos__radio-relogio;
}

.produtos__oculos {
    grid-area: produtos__oculos;
}

.produtos__pikachu {
    grid-area: produtos__pikachu;
}

.produtos__descricao1 {
    grid-area: produtos__descricao1;
}

.produtos__descricao2 {
    grid-area: produtos__descricao2;
}

.produtos__descricao3 {
    grid-area: produtos__descricao3;
}

.produtos__descricao4 {
    grid-area: produtos__descricao4;
}

.produtos__descricao5 {
    grid-area: produtos__descricao5;
}

.produtos__descricao6 {
    grid-area: produtos__descricao6;
}

.produtos__descricao7 {
    grid-area: produtos__descricao7;
}

.produtos__descricao8 {
    grid-area: produtos__descricao8;
}

.produtos__descricao9 {
    grid-area: produtos__descricao9;
}

.produtos__descricao10 {
    grid-area: produtos__descricao10;
}

.produtos__descricao11 {
    grid-area: produtos__descricao11;
}

.produtos__descricao12 {
    grid-area: produtos__descricao12;
}

.produtos__descricao13 {
    grid-area: produtos__descricao13;
}

.produtos__descricao14 {
    grid-area: produtos__descricao14;
}

.produtos__descricao15 {
    grid-area: produtos__descricao15;
}

.produtos__descricao16 {
    grid-area: produtos__descricao16;
}

.produtos__descricao17 {
    grid-area: produtos__descricao17;
}

.produtos__descricao18 {
    grid-area: produtos__descricao18;
}

.contato__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    min-width: 360px;
    max-width: 410px;
    height: 600px;
    background-color: var(--blue);
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 328px;
    height: 650px;
}

.suporte {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 8px;
    width: 328px;
    height: 260px;
}

.suporte__logo {
    width: 176px;
    height: 50px;
}

.suporte__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 328px;
    height: 194px;
}

.suporte__item {
    width: 328px;
    height: 19px;
    color: var(--darkgray);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.suporte__item:hover {
    color: var(--mediumblue);
    font-weight: bold;
}

.contato__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 328px;
    height: 229px;
}

.contato__form-titulo {
    width: 328px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--darkgray);
}

.contato__fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 328px;
    height: 254px;
}

.contato__input__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 328px;
    height: 56px;
    background-color: var(--white);
    border-radius: 4px;
}

.contato__elementos {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 304px;
    height: 40px;
    padding: 6px 12px;
}

.contato__textos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 324px;
    height: 40px;
}

.contato__label {
    width: 304px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--mediumgray);
 }

.contato__input,
.contato__input--textarea {
    width: 98px;
    height: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border: none;
    caret-color: var(--darkblue);
}

.contato__input--textarea  {
    width: 328px;
    height: 82px;
}

.contato__input:focus,
.contato__input--textarea:focus {
    width: 324px;
    outline: none;
}

.contato__input__container--textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 328px;
    height: 82px;
    background-color: var(--white);
    border-radius: 4px;
}

.contato__elementos--textarea {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 328px;
    height: 82px;
}

.contato__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    width: 170px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    border: none;
    border-radius: 4px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    background-color: var(--darkblue);
    color: var(--white);
    margin: 10px;
}

.contato__button:hover {
    background-color: var(--softblue);
    color: var(--darkblue);
    border: 1px solid var(--darkblue);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 360px;
    max-width: 410px;
    height: 102px;
    background-color: var(--white);
}

.footer__p {
    width: 234px;
    height: 38px;
    margin: 0 auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--darkgray);
}

.footer__link {
    text-decoration: none;
}

.footer__link > span {
    font-weight: bold;
    color: var(--darkblue);
}

.footer__link > span:hover {
    font-weight: bold;
    color: var(--mediumgray);
}

@media (min-width: 768px) and (max-width: 993px) {

    html, body {
        overflow-x: hidden;
    }
    
    body {
        min-width: 768px;
        max-width: 993px;
    }

    header {
        width: 768px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 16px 32px;
        margin: 0;
        gap: 0;
        width: 768px;
        height: 72px;
    }

    .menu__logo {   
        width: 100px;
        height: 28px;
        order: 0;
    }

    a > .menu__logo {
        margin-right: 32px;
        margin-top: 15px;
    }
    
    .menu__search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
        gap: 0;
        width: 393px;
        height: 40px;
        background-color: var(--softgray);
        border-radius: 20px;
        order: 1;
    }

    .menu__search-input {
        width: 209px;
        height: 16px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        background-color: var(--softgray);
        color: var(--mediumgray);
        border: none;
    }

    .menu__search-input:focus {
        outline: none;
        caret-color: var(--mediumblue);
    } 

    #todos__produtos {
        min-width: 768px;
        max-width: 993px;
        background-color: var(--softgray);
    }
    
    .todos__produtos {
        display: grid;
        grid-template-areas: 
        "produtos__titulo produtos__titulo produtos__button produtos__button"
        "produtos__caneca produtos__darth-vader produtos__yoda produtos__stormtroper"
        "produtos__descricao1 produtos__descricao2 produtos__descricao3 produtos__descricao4"
        "produtos__baby-yoda produtos__lord-sith produtos__joystick produtos__playstation"
        "produtos__descricao5 produtos__descricao6 produtos__descricao7 produtos__descricao8"
        "produtos__nintendo produtos__nintendo-switch produtos__xbox-x produtos__game-boy"
        "produtos__descricao9 produtos__descricao10 produtos__descricao11 produtos__descricao12"
        "produtos__atari produtos__snes produtos__sonic produtos__radio-relogio"
        "produtos__descricao13 produtos__descricao14 produtos__descricao15 produtos__descricao16"
        "produtos__oculos produtos__pikachu produtos__novo-item produtos__novo-item"
        "produtos__descricao17 produtos__descricao18 produtos__novo-item produtos__novo-item"
        ;
        grid-template-columns: repeat(4, 180px);
        grid-template-rows: 50px repeat(5, 190px 100px);
        margin: 0 auto;
        column-gap: 0;
        row-gap: 10px;
        min-width: 768px;
        max-width: 993px;
        padding: 10px;
        place-content: center;
        height: 1620px;
    }
    
    .produtos__icone-editar1{
        position: absolute;
        left: 15%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-excluir1 {
        position: absolute;
        left: 22%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__icone-editar1--tablet{
        position: absolute;
        left: 15%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-excluir1--tablet {
        position: absolute;
        left: 22%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-editar2 {
        position: absolute;
        left: 38%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-excluir2 {
        position: absolute;
        left: 45%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__icone-editar2--tablet {
        position: absolute;
        left: 2%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__icone-excluir2--tablet {
        position: absolute;
        left: 0%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__icone-editar3 {
        position: absolute;
        left: 62%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-excluir3 {
        position: absolute;
        left: 69%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__icone-editar3--tablet {
        position: absolute;
        left: 62%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__icone-excluir3--tablet {
        position: absolute;
        left: 69%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__icone-editar4 {
        position: absolute;
        left: 86%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-excluir4 {
        position: absolute;
        left: 92%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__icone-editar4--tablet {
        position: absolute;
        left: 85%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__icone-excluir4--tablet {
        position: absolute;
        left: 92%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-editar5 {
        position: absolute;
        left: 62%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-excluir5 {
        position: absolute;
        left: 69%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__icone-editar5--tablet {
        position: absolute;
        left: 38%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-excluir5--tablet {
        position: absolute;
        left: 45%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__icone-editar6 {
        position: absolute;
        left: 38%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-excluir6 {
        position: absolute;
        left: 45%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__img {
        width: 164px;
        height: 174px;
        position: relative;
    }

    .produtos__descricao-h3 {
        width: 164px;
        height: 16px;
    }

    .produtos__descricao-h4 {
        width: 164px;
        height: 19px;
    }

    .produtos__id {
        width: 164px;
        height: 16px;
    }

    .produtos__button {
        justify-self: end;
        margin-right: 20px;
    }

   .produtos__novo-item {
        grid-area: produtos__novo-item;
   }
        
    .contato__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 28px;
        gap: 115px;
        min-width: 768px;
        max-width: 993px;
        height: 364px;
    }
    
    .contato {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        width: 704px;
        height: 300px;
    }
    
    .suporte {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        width: 254px;
        height: 300px;
    }
    
    .suporte__logo {
        width: 176px;
        height: 50px;
    }
    
    .suporte__lista {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        padding: 0px;
        gap: 24px;
        width: 176px;
        height: 234px;
    }
    
    .suporte__item {
        width: 176px;
        height: 19px;
        font-size: 16px;
        line-height: 19px;
        text-align: left;
    }
    
    .contato__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        width: 434px;
        height: 229px;
    }
    
    .contato__form-titulo {
        width: 434px;
        height: 19px;
        font-size: 16px;
        line-height: 19px;
    }
    
    .contato__fields {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        width: 434px;
        height: 300px;
    }
    
    .contato__input__container{
        width: 410px;
        height: 56px;
    }
    
    .contato__input:focus {
        width: 405px;
    }
    
    .contato__input__container--textarea,
    .contato__input--textarea {
        width: 410px;
        height: 82px;
    }
    
    .contato__input--textarea:focus {
        width: 405px;
    }
    
    .contato__elementos,
    .contato__textos {
        width: 410px;
        height: 40px;
    }
    
    .contato__elementos--textarea {
        width: 405px;
        height: 82px;
    }
    
    .footer { 
        min-width: 768px;
        max-width: 993px;
        height: 102px;
    }
    
    .footer__p {
        width: 234px;
        height: 38px;
        font-size: 16px;
        line-height: 19px;
    }
}

@media (min-width: 994px) {

    html, body {
        overflow-x: visible;
        min-width: 994px;
    }
    
    header {
        min-width: 1440px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 32px 0px;
        margin: 0 auto;
        gap: 30px;
        width: 1136px;
        height: 115px;
    }
    
    .menu__logo {   
        width: 176px;
        height: 50px;
        order: 0;
        justify-self: flex-start;
    }
    
    .menu__search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
        gap: 0;
        width: 393px;
        height: 40px;
        background-color: var(--softgray);
        border-radius: 20px;
        order: 1;
    }
    
    .menu__search-input {
        width: 209px;
        height: 16px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        background-color: var(--softgray);
        color: var(--mediumgray);
        border: none;
    }
    
    .menu__search-input:focus {
        outline: none;
        caret-color: var(--mediumblue);
    } 

    #todos__produtos {
        min-width: 1600px;
        background-color: var(--softgray);
    }
    
    .todos__produtos {
        display: grid;
        grid-template-areas: 
        "produtos__titulo produtos__titulo produtos__titulo produtos__button produtos__button produtos__button"
        "produtos__caneca produtos__darth-vader produtos__yoda produtos__stormtroper produtos__baby-yoda produtos__lord-sith"
        "produtos__descricao1 produtos__descricao2 produtos__descricao3 produtos__descricao4 produtos__descricao5 produtos__descricao6"
        "produtos__joystick produtos__playstation produtos__nintendo produtos__nintendo-switch produtos__xbox-x produtos__game-boy"
        "produtos__descricao7 produtos__descricao8 produtos__descricao9 produtos__descricao10 produtos__descricao11 produtos__descricao12"
        "produtos__atari produtos__snes produtos__sonic produtos__radio-relogio produtos__oculos produtos__pikachu"
        "produtos__descricao13 produtos__descricao14 produtos__descricao15 produtos__descricao16 produtos__descricao17 produtos__descricao18"
        ;
        grid-template-columns: repeat(6, 190px);
        grid-template-rows: 60px repeat(3, 190px 100px);
        padding: 32px 150px;
        padding-top: 50px;
        column-gap: 0;
        row-gap: 10px;
        width: 1136px;
        place-content: start;
        height: 1000px;
    }
    
    .produtos__icone-editar1{
        position: absolute;
        left: 18%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-excluir1 {
        position: absolute;
        left: 22%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-editar2{
        position: absolute;
        left: 32%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-excluir2 {
        position: absolute;
        left: 36%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__icone-editar3{
        position: absolute;
        left: 46%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-excluir3 {
        position: absolute;
        left: 50%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__icone-editar4 {
        position: absolute;
        left: 60%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-excluir4 {
        position: absolute;
        left: 64%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__icone-editar5 {
        position: absolute;
        left: 74%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-excluir5 {
        position: absolute;
        left: 78%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__icone-editar6 {
        position: absolute;
        left: 88%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }
    
    .produtos__icone-excluir6 {
        position: absolute;
        left: 92%;
        margin: 10px 0px;
        transition: all 300ms ease-in-out;
    }

    .produtos__img {
        width: 176px;
        height: 174px;
        position: relative;
    }

    .produtos__titulo {
        width: 281px;
        height: 38px;
        font-size: 32px;
        line-height: 38px;
    }

    .produtos__descricao-h3 {
        width: 176px;
        height: 16px;
    }

    .produtos__descricao-h4 {
        width: 176px;
        height: 19px;
    }

    .produtos__id {
        width: 176px;
        height: 16px;
    }

    .produtos__button {
        justify-self: end;
        margin-right: 18px;
    }

    .contato__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        min-width: 1900px;
        height: 470px;
    }
    
    .contato {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 64px;
        margin: 0 80px;
        gap: 10px;
        width: 1200px;
        height: 368px;
    }
    
    .suporte {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 100px;
        width: 600px;
        height: 240px;
    }
    
    .suporte__logo {
        width: 176px;
        height: 50px;
    }
    
    .suporte__lista {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        width: 176px;
        height: 234px;
    }
    
    .suporte__item {
        width: 176px;
        height: 19px;
        text-align: left;
    }
    
    .contato__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        width: 560px;
        height: 240px;
    }
    
    .contato__form-titulo {
        width: 560px;
        height: 19px;
    }
    
    .contato__fields {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        width: 560px;
        height: 250px;
    }
    
    .contato__input__container,
    .contato__input__container--textarea {
        width: 560px;
    }
    
    .contato__input {
        width: 536px;
    }
    
    .contato__input--textarea {
        width: 560px;
        height: 78px;
    }
    
    .contato__input:focus,
    .contato__input--textarea:focus {
        width: 556px;
    }
    
    .contato__elementos {
        width: 560px;
        height: 56px;
    }
    
    .contato__textos {
        width: 536px;
        height: 40px;
    }
    
    .contato__elementos--textarea {
        width: 555px;
        height: 82px;
        padding: 0;
    }
    
    .footer {
        min-width: 1440px;
        height: 102px;
    }
    
    .footer__p {
       width: 234px;
       height: 38px;
    }
}